Day_22(XML)/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xs:element name="employee">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="employee" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <!-- Name -->
              <xs:element name="name" type="xs:string"/>

              <!-- Age: only 18 to 60 -->
              <xs:element name="age">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="18"/>
                    <xs:maxInclusive value="60"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <!-- Gender: Male / Female only -->
              <xs:element name="gender">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Male"/>
                    <xs:enumeration value="Female"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <!-- Email validation -->
              <xs:element name="email">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[^@]+@[^\.]+\..+"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <!-- Phone: exactly 10 digits -->
              <xs:element name="phone">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\d{10}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <!-- Address: any string -->
              <xs:element name="address" type="xs:string"/>

            </xs:sequence>

            <!-- Attribute: status -->
            <xs:attribute name="status" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="active"/>
                  <xs:enumeration value="inactive"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>

          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
